/* Soluzione qui */

/* TABLET */
@media screen and (min-width: 768px) {
   /* main {
       background-color: red;
   } */
   /* QUICK NOTES */
    .quick-notes ul {
        display: flex;
        flex-wrap: wrap;
    }

    .quick-notes li {
    flex: 0 0 33%;
    max-width: 33%;
    }

    /* Allinea il logo a sinistra */
    #topbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  /* testo dolce tradizionale */
    .recipe-origin {
        display: inline-block;
    }

    /* il padding aumenta */
main {
    padding: 40px; /* aumenta rispetto ai 20px base */
  }
  
    /* SOCIAL BUTTONS */
.social-networks {
        display: flex;
        justify-content: space-between;
    }
.social-networks button {
        flex: 1;
    }
    /* ADS */
    .ads {
        display: block;
    }
    /* PRESENTATION */
    .presentation img {
    float: left;
    margin-right: 10px;
}
}


/* DESKTOP */
@media screen and (min-width: 992px) {
    /* QUICK NOTES */
    .recipe-card {
        display: flex;
        flex-wrap: nowrap;
    }

    .recipe-video {
        flex: 0 0 70%;
        max-width: 70%;
    }

    .recipe-info {
        flex: 0 0 30%;
        max-width: 30%;
    }

    .quick-notes ul {
        display: flex;
        flex-direction: column;
    }

    .quick-notes li {
        flex: 0 0 auto;
        max-width: 100%;
    }

    /* SOCIAL BUTTONS */
    .social-networks .label {
        display: inline;
    }
    /* FOOTER */
    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }
}